<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a asp-action="Index" asp-controller="Home" asp-area="Personel" class="nav-link" >
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>


                <a asp-action="Index" asp-controller="Ogrenci" asp-area="Personel" class="nav-link">Öğrenciler</a>
                <a asp-action="Index" asp-controller="Oda" asp-area="Personel" class="nav-link">Odalar</a>
                <a asp-action="Index" asp-controller="Veli" asp-area="Personel" class="nav-link">Veli Bilgileri</a>
                <a asp-action="OgrenciInsert" asp-controller="OgrenciKayit" asp-area="Personel" class="nav-link">Öğrenci Kayıt</a>


                <a class="nav-link">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Faturalar
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Start Bootstrap
        </div>
    </nav>
</div>