@using Yurt.BL.ViewModels.OgrenciVM;
@{
    ViewData["Title"] = "Öğrenciler";
}

<h1>ÖĞRENCİLER</h1>
<hr />

@model List<OgrenciListVM>


<div class="card">
    <table class="table table-hower">
        <theader>
            <tr>
                <th>Öğrenci Adı-Soyadı</th>
                <th>Oda No</th>
                <th></th>
            </tr>
        </theader>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.OgrenciAdi @item.OgrenciSoyadi</td>
                    <td>@item.OdaNo</td>
                    <td><a asp-action="Update" asp-controller="Oda" asp-area="Personel" asp-route-id="@item.OgrenciId" class="btn btn-info">Guncelle</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>