@using Yurt.BL.ViewModels.KullaniciVm;
@{
	ViewBag.Title = "Giriş Yap";
	Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@model KullaniciVM

<div class="login-box">
	<div class="login-header">Giriş Yap</div>
	<div class="login-body">
		<form class="form-group" method="post" asp-action="Giris" asp-controller="Login">
			<div asp-validation-summary="All" class="text text-danger fw-bold"></div>
			<label asp-for="KullaniciAdi">Kullanıcı Adı</label>
			<input type="text" class="form-control" asp-for="KullaniciAdi">
			<label asp-for="Sifre">Şifre</label>
			<input type="password" class="form-control" asp-for="Sifre">
			<input asp-for="BeniHatirla" class="form-check"><b>Beni Hatırla</b>
			<button type="submit" class="form-control btn btn-success ">Login</button>
		</form>
	</div>
</div>

@section Scripts{
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
