@{
	ViewBag.Title = "Giriş Yap";
	Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div class="login-box">
	<div class="login-header">Giriş Yap</div>
	<div class="login-body">
		<form class="form-group">
			<label>Kullanıcı Adı</label>
			<input type="text" class="form-control" name="">
			<label>Şifre</label>
			<input type="password" class="form-control" name="">
			<input type="checkbox" value="checked"><b>Beni Hatırla</b>
			<input type="submit" value="Login" class="form-control btn btn-success " name="">
		</form>
	</div>
</div>
