@using Yurt.BL.ViewModels.OdemePlaniVM;

@model OdemePlaniCreateVM
<h2 class="text-center fw-bold">Ödeme Plani Yapılandırma</h2>
<form class="requires-validation" method="post" asp-controller="OdemePlani" asp-action="CreateOdemePlani" asp-area="Personel" onsubmit="return validateForm()">
    <input type="hidden" asp-for="OdemePlaniId" />
    <div class="container py-">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="card rounded-0 border-0 shadow">
                    <div class="card-body p-5">
                        <div asp-validation-summary="All" class="alert-danger"></div>
                        <h2>ÖĞRENCİ  : @Model.OgrAdi @Model.OgrSoyadi</h2>
                        <hr />
                        <div class="row">
                            <div class="col-md-2">
                                <select class="form-select fw-bold" id="taksit" required>
                                    <option class="fw-bold" selected disabled value="">Taksit Seciniz</option>
                                    @for (int i = 0; i < 12; i++)
                                    {
                                        <option class="fw-bold" value="@(i + 1)">@(i + 1)</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-5 row">
                                <label class="col-form-label col-md-4 fw-bold">Başlama Tarihi:</label>
                                <div class="col-md-8">
                                    <input class="form-control fw-bold" type="date" id="tarihSeç" required>
                                </div>
                            </div>
                            <div class="col-md-5 row">
                                <label class="col-form-label col-md-4 fw-bold" asp-for="OdenecekTutar">Odenecek Tutar:</label>
                                <div class="col-md-8">
                                    <input class="form-control fw-bold" type="text" asp-for="OdenecekTutar" id="toplamTutar">
                                </div>
                            </div>
                        </div>
                        <!--  Bootstrap table-->
                        <div class="table-responsive mt-3">
                            <table class="table table-bordered border-primary">
                                <thead>
                                    <tr>
                                        <th scope="col">Taksit No</th>
                                        <th scope="col">Vade Tarih</th>
                                        <th scope="col">Tutar</th>
                                    </tr>
                                </thead>
                                <tbody id="tableBody">
                                </tbody>
                            </table>
                        </div>
                        <button id="kaydetBtn" type="submit" class="btn btn-success">Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    <script type="text/javascript">

        function validateForm(){
            let taksit = $("#taksit").find(":selected").val();
            let odenecekTutar = Number(document.getElementById("toplamTutar").value)
            let _toplamTutar = 0;

            for (i = 1; i <= taksit; i++) {
                let tutar = Number(document.getElementById("Tutar" + i).value);
                _toplamTutar += tutar;
            }
            if (_toplamTutar != odenecekTutar){
                alert("ToplamTutar ile OdenecekTutar aynı değil");
                return false;
            }
            return true;
        }
    </script>
    <script type="text/javascript">
        function yyyymmdd(date) {
            var yyyy = date.getFullYear();
            var mm = date.getMonth() + 1;
            var dd = date.getDate();

            return String(yyyy + "-" + (mm < 10 ? "0" : "") + mm + "-" + (dd < 10 ? "0" : "") + dd);
        };

        $(document).ready(function () {

            $("#taksit").change(function () {
                var taksit = $(this).find(":selected").text();
                var odenecekTutar = $("#toplamTutar").val();

                var ode = odenecekTutar / taksit;

                $("#tableBody").children().remove();
                $("#tarihSeç").val("");

                for (i = 1; i <= taksit; i++) {
                    var newRow = $("<tr>");
                    var cols = '';
                    cols += '<td class="col-md-2"><input class="form-control fw-bold" type="text" placeholder ="Taksit" id=' + "Taksit" + i + " " + 'name = "Taksit" value=' + i + ".Taksit" + " " + 'required > </td>';
                    cols += '<td class="col-md-2"><input class="form-control fw-bold" type="text" placeholder="Vade Tarihi" id=' + "OdemeTarihi" + i + " " + 'name = "OdemeTarihi" required></td>';
                    cols += '<td class="col-md-2"><input class="form-control fw-bold" type="text" placeholder ="Tutar" id=' + "Tutar" + i + " " + 'name="Tutar" value = ' + ode + " " + 'required > </td>';
                    newRow.append(cols);
                    $('table').append(newRow);
                }
            })

            $("#tarihSeç").change(function () {
                var tarih = $(this).val();
                var _tarih = new Date(tarih);

                var taksit = $("#taksit").find(":selected").text();
                for (i = 1; i <= taksit; i++) {
                    $("#OdemeTarihi" + i).attr({ value: yyyymmdd(_tarih), type: "date" });
                    _tarih.setMonth(_tarih.getMonth() + 1);
                }
            })

        });
    </script>
}
